<div class="container-box">
    <%= form_for(current_user, :class => 'form-horizontal', :url => user_avatar_path, :method => :post, :multipart => true) do |f| %>
        <fieldset>
            <div id="legend">
                <legend class="">用户头像设置</legend>
            </div>
            
            <div class="control-group">
                <!-- Avatar -->
                <label class="control-label" for="username">头像</label>
                <div class="controls">
                    <%= image_tag current_user.avatar.url, :class => "avatar" %>
                </div>
            </div>

            <div class="control-group">
                <!-- Avatar-->
                <label class="control-label" for="avatar">上传</label>
                <div class="controls">
                    <%= f.file_field :avatar, :class => 'input-xlarge' %>
                    <p class="help-block">请选择要上传的头像文件</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <%= f.submit "保存改动", :class => 'btn btn-success' %>
                    <%= link_to '返回设置页', user_setting_path %>
                </div>
            </div>
        </fieldset>
    <% end %>
</div>
