<div class="topic-detail container-box">
<div class="ui-header">
    <%= link_to image_tag(@article.user.avatar, :class => 'avatar'), user_path(@article.user) %>
    <div class="main">
        <h3 class="title"><%= @article.title %></h3>
        <div class="meta">
            • <span class="username"><%= link_to @article.user.username, user_path(@article.user.username) %></span>
            • <span class="created-time"><%= time_ago_in_words @article.created_at %></span>
        </div>
    </div>
</div>
<div class="ui-content">
    <p><%= @article.content %></p>
</div>
<div class="ui-footer">
    <%= link_to '编辑', edit_news_path(@article.id), :class => 'J_topicVote' %>
    <span class="hits fr mr10"><%= @article.page_view %> 次点击</span>
</div>
</div>
<div class="topic-reply container-box">
<div class="ui-header">
    <span>共收到<%= @article.replies.count %>条回复</span>
</div>
<div class="ui-content">
	<%= render :partial => 'layouts/replies', :locals => {:replies => @article.replies} %>
</div>
<div class="ui-footer">
    <div class="pagination pagination-mini"></div>
</div>
</div>

<%= render :partial => 'layouts/reply', :locals => {:url => reply_news_path(@article), :owner_name => :article_id, :owner => @article.id} %>
